body {
  color: white;
}

#root {
  font-family: "Ubuntu", serif;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  color: #ffe45e;
}

a:hover {
  color: #ffe45e;
}

.primary-cta {
  background: #ffe45e;
  max-width: 300px;

  width: 100%;
  color: hsl(var(--primary));
  border: 1px solid;
}
